<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/PLANTILLA.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Documento sin título</title>
<style type="text/css">
@import url("file:///D|/Tercero C Info/Estilos/Estilos.css");
</style>
<style type="text/css">
@import url("../Estilos/Estilos.css");
</style>
<!-- InstanceEndEditable -->
<link href="Estilos/EXAMNE.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	background-color: #F2E1CE;
}
</style>
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
</script>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<table width="734" height="521" border="2" align="center">
  <tr>
    <td height="205" colspan="2" valign="top"><p><img src="imagenes%7D/nex.png" width="707" height="163" usemap="#Map" border="0" /></p>
    <p class="Titulo"><a href="index.html">INICIO</a> <a href="Ofertas">OFERTAS</a> <a href="Docentes">DOCENTES</a> <a href="Alumnos">ALUMNOS</a></p></td>
  </tr>
  <tr>
    <td width="182" height="174" valign="top"><!-- InstanceBeginEditable name="Edit1" -->
      <p class="Subtitulos"><a href="#t" class="Cuerpo">Bachillerato en Informatica</a></p>
      <p class="Subtitulos"><a href="#r" class="Cuerpo">Perfil de salida      </a></p>
      <p class="Subtitulos"><a href="#e" class="Cuerpo">Bacillerato en Producciones Agropecuarias</a></p>
      <p class="Subtitulos"><a href="#w" class="Cuerpo">Bachillerato en ciencias</a></p>
      <p class="Subtitulos"><a href="#q" class="Cuerpo">BTP</a></p>
      <p class="Subtitulos">&nbsp;</p>
      <p><a name="b" id="b"></a> </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    <!-- InstanceEndEditable --></td>
    <td width="534" valign="top"><!-- InstanceBeginRepeat name="Repe1" --><!-- InstanceBeginRepeatEntry --><!-- InstanceBeginEditable name="Edit2" -->
      <p class="Subtitulos">Bachillerato en Informatica</p>
      <p class="Importantes"><span class="perfil"><a name="t" id="t"></a>La Informática es la rama de la Ingeniería que estudia el hardware, las redes de datos y el software necesarios para tratar información de forma automática. Aunque pueda parecerte una definición muy abstracta, estamos seguros de que sabes mucho más de Informática de lo que crees</span></p>
      <p class="Importantes"><span class="perfil"> Las habilidades en informática son demandadas en diversas industrias. Los graduados de un programa de bachillerato en informática pueden buscar empleo en áreas como desarrollo de software, análisis de datos, ciberseguridad y más</span><span class="Estilos">.</span></p>
      <p class="Importantes">&nbsp;</p>
      <p class="Importantes"><img src="../Imagenes/Captura de pantalla (105).png" width="310" height="242" /></p>
      <p class="Importantes">&nbsp;</p>
      <p class="Importantes">&nbsp;</p>
      <p><a href="#b">Regresar</a></p>
    <!-- InstanceEndEditable --><!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry --><!-- InstanceBeginEditable name="Edit2" -->
    <p class="Subtitulos">Perfil de salida</p>
    <p class="Importantes"><span class="perfil">El Perfil de Salida constituye la pieza fundamental a través de la cual, se concretan los principios y fines del sistema educativo español. Esta es la novedad fundamental del currículo y supone la propuesta más determinante para profundizar en el enfoque competencial del aprendizaje y de la enseñanza</span></p>
    <p class="Importantes"><span class="perfil">En perfil de salida describe las competencias y habilidades que se espera que los estudiantes hayan adquirido al completar un curso, una carrera o un programa educativo</span>.<a name="r" id="r"></a></p>
    <p class="Importantes">&nbsp;</p>
    <p class="Importantes">&nbsp;</p>
    <p class="Importantes">&nbsp;</p>
    <p class="Importantes">&nbsp;</p>
    <p class="Importantes">&nbsp;</p>
    <p><a href="#b">Regresar</a></p>
    <!-- InstanceEndEditable --><!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry --><!-- InstanceBeginEditable name="Edit2" -->
    <p class="Subtitulos">Bacillerato en Producciones Agropecuarias</p>
    <p class="Importantes"><span class="perfil"><a name="e" id="e"></a>Se definen como parte del sector agropecuario las actividades agrícolas, pecuarias, apícolas, avícolas, cunícolas, de caza, crianza de productos del mar y silvicultura, así como la organización empresarial de los servicios agrícolas, agroindustriales y agroexportadores</span>.</p>
    <p class="Importantes"><span class="perfil">La educación práctica y la experiencia en el campo son aspectos esenciales de este tipo de bachillerato. Los estudiantes pueden tener oportunidades para realizar pasantías en granjas, participar en proyectos prácticos y aplicar sus conocimientos en situaciones del mundo real</span>.</p>
    <p class="Importantes"><img src="../Imagenes/agropecuaria.jpg" width="397" height="310" /></p>
    <p class="Importantes">&nbsp;</p>
    <p class="Importantes">&nbsp;</p>
    <p><a href="#b">Regresar</a></p>
    <p>&nbsp;</p>
    <!-- InstanceEndEditable --><!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry --><!-- InstanceBeginEditable name="Edit2" -->
    <p class="Subtitulos">Bachillerato en ciencias
    </p>
    <p class="Importantes"><span class="perfil"><a name="w" id="w"></a>El Bachillerato General Unificado BGU, es la etapa final de la educación escolarizada, previa a la continuación de una carrera universitaria, por ello, a más de abarcar los contenidos de las asignaturas del tronco común, prepara a los estudiantes para continuar sus estudios superiores exitosamente</span></p>
    <p class="Importantes"><span class="perfil">Los estudiantes adquieren habilidades analíticas y de investigación que son valiosas en muchos campos. Aprenden a recopilar datos, analizar resultados y presentar sus hallazgos de manera efectiva Aunque hay un enfoque principal en las ciencias, los programas a menudo permiten cierta flexibilidad para que los estudiantes puedan personalizar su educación según sus intereses específicos dentro del ámbito científico.</span></p>
    <p class="Importantes"><img src="../Imagenes/pin12.png" width="495" height="239" /></p>
    <p class="Importantes">&nbsp;</p>
    <p class="Importantes">&nbsp;</p>
    <p class="Importantes">&nbsp;</p>
    <p><a href="#b">Regresar</a></p>
    <!-- InstanceEndEditable --><!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry --><!-- InstanceBeginEditable name="Edit2" -->
    <p class="Subtitulos">BTP</p>
    <p><span class="perfil">El&nbsp;Bachillerato Técnico Productivo&nbsp;– BTP tiene como propósito fortalecer las capacidades  y competencias de los estudiantes en el mundo real del trabajo, articulando la  educación media (post bachillerato) con la actividad empresarial, sustentada en  la modalidad dual</span>.<span class="perfil"><a name="q" id="q"></a></span></p>
    <p class="perfil">Se enfoca en enseñar a los estudiantes sobre los procesos de producción y procesamiento de productos lácteos. Esto puede incluir la manipulación y tratamiento de la leche, la fermentación de productos como el yogur y la elaboración de diferentes tipos de quesos.</p>
    <p><img src="../Imagenes/btp.jpg" width="462" height="194" /></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><a href="#b">Regresar</a></p>
    <!-- InstanceEndEditable --><!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat --></td>
  </tr>
  <tr>
    <td height="130" colspan="2" align="center" valign="top"><p>Dirreccion:Panamericana Sur Km 2 1/2 via Cayambe - El Quinche, Cayambe, Ecuador</p>
    <p>Telf: 0958961231-200-2056-12</p>
    <p>uecayambe@gmail.com</p></td>
  </tr>
</table>
<p class="CONTENIDO">&nbsp;</p>
<p>&nbsp;</p>

<map name="Map" id="Map">
  <area shape="rect" coords="41,32,130,144" href="#" target="../INICIO" />
  <area shape="rect" coords="211,43,556,79" href="#../Ofertas" />
  <area shape="rect" coords="266,94,510,117" href="#../Alumnos" />
  <area shape="rect" coords="599,25,691,149" href="#../Docentes" />
</map>
</body>
<!-- InstanceEnd --></html>
